doctype html
html
  head
    title #{title} - My Blog
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    header
      h1 About Me
    div
      br
      img(src="http://www.scoreatl.com/wordpress/wp-content/uploads/2012/08/RUSS.jpg", width="auto", max-width:"175px", max height="175px")
      br
      p My name is Ian (not pictured), and I'm from Cumming, Georgia. I attend the University of Georgia where I study computer science. This summer, I am interning at CareerBuilder where I will be working with node.js and pencilblue. I wrote this website to practice with node and display what I've learned.
      br
      button(onclick="location.href='/';" width="100px") Return to Home Page

    footer
      p Ian Trapp 2015 - GitHub - IanDTrapp
