doctype html
html
    head
        title #{title} - My Blog
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header
            h1 Uh oh!
        div
            br
            p It seems you don't have permission to post here!
            p Try again later, or contact the developer at ian.trapp@careerbuilder.com
            br
            button(onclick="location.href='/';") Return to home page
            br
        footer
            p Ian Trapp 2015 - GitHub - IanDTrapp
