doctype html
html
  head
    title #{title} - My Blog
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    header
      h1 Post Successful!
    div
      br
      button(onclick="location.href='/';") Return to home page
      br
    footer
      p Ian Trapp 2015 - GitHub - IanDTrapp
